.bg-whitesmoke {
  background-color: whitesmoke;
}

.bg-lightgrey {
  background-color: lightgrey;
}

.bg-white {
  background-color: white;
}

.overflow-allowed-y {
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-not-allowed {
  overflow: hidden;
}

.hidden {
  display: none;
  pointer-events: none;
}

.opacity-0 {
  opacity: 0%;
  pointer-events: none;
}

.text-bold {
  font-weight: bold;
}

#chat {
  background: linear-gradient(90deg, rgb(0, 153, 255), rgb(0, 136, 255));
  height: 94vh;
}

#chat-page {
  position: relative;
  height: 90vh;
}
#chat-page #conversations {
  position: relative;
  height: 100%;
}
#chat-page #conversations #chat-conversation-header #chat-conversation-header-settings {
  position: relative;
}
#chat-page #conversations #chat-conversation-header #chat-conversation-header-settings:hover #chat-conversation-header-settings-options {
  display: block;
}
#chat-page #conversations #chat-conversation-header #chat-conversation-header-settings #chat-conversation-header-settings-options {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 20%);
  display: none;
  z-index: 10;
  width: 150px;
  background-color: rgb(160, 160, 160);
}
#chat-page #conversations #chat-conversation-header #chat-conversation-header-settings #chat-conversation-header-settings-options .option:hover {
  color: white;
  background-color: #333;
}
#chat-page #conversations #chat-conversations {
  position: relative;
  height: 100%;
}
#chat-page #conversations #chat-conversations .room {
  cursor: pointer;
  transition: all 0.5s;
  background-color: rgb(212, 212, 212);
  position: relative;
}
#chat-page #conversations #chat-conversations .room:hover, #chat-page #conversations #chat-conversations .room:hover .three-dots {
  background-color: whitesmoke;
}
#chat-page #conversations #chat-conversations .room .three-dots {
  transition: all 0.5s;
  background-color: rgb(212, 212, 212);
  position: absolute;
  right: 28px;
  bottom: 10px;
  z-index: 1;
}
#chat-page #messages {
  position: relative;
  height: 100%;
}
#chat-page #messages #chat-conversation-message-header #chat-conversation-message-settings {
  position: relative;
}
#chat-page #messages #chat-conversation-message-header #chat-conversation-message-settings:hover #chat-conversation-message-settings-options {
  display: block;
}
#chat-page #messages #chat-conversation-message-header #chat-conversation-message-settings #chat-conversation-message-settings-options {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(0%, 20%);
  display: none;
  z-index: 100;
  width: 150px;
  background-color: rgb(160, 160, 160);
}
#chat-page #messages #chat-conversation-message-header #chat-conversation-message-settings #chat-conversation-message-settings-options .option:hover {
  color: white;
  background-color: #333;
}
#chat-page #messages #chat-conversation-participants {
  position: relative;
  width: 90%;
  overflow-x: auto;
}
#chat-page #messages #chat-conversation-invite-person {
  cursor: pointer;
}
#chat-page #messages #chat-conversation-message {
  position: relative;
}
#chat-page #messages #chat-conversation-message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/hello.jpg) no-repeat center center/cover;
  opacity: 10%;
}
#chat-page #messages #chat-conversation-message #chat-conversation-message-content {
  position: relative;
  z-index: 10;
  height: 100%;
  overflow-y: auto;
}
#chat-page #messages #chat-conversation-message #chat-conversation-message-type {
  position: relative;
  z-index: 10;
}/*# sourceMappingURL=main.css.map */